.product-container {
  height: 500;
  width: 300;
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
}
.product {
  position: relative;
  height: 500;
  width: 300;
  padding: 7px;
  margin-bottom: 15px;
}
.product img {
  border-radius: 5px;
  width: 100%;
}
.product-container button {
  border-radius: 0 0 5px 5px;
  border: none;
  width: 100%;
  padding: 7px 0;
  background-color: #ffe0b3;
  position: absolute;
  bottom: 0;
}
.product-container button:hover {
  background-color: salmon;
}
