.order-product-container {
  height: 107px;
  width: 570px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2a414f;
  border-radius: 5px;
  margin-bottom: 40px;
}
.order-product-container img {
  height: 91px;
  width: 91px;
  margin-left: 8px;
  border-radius: 5px;
}
.order-product-container .details {
  margin: 0 8px;
  width: 70%;
}
.order-product-container .details h6 {
  font-size: 21px;
  color: #1c2b35;
  margin: 0;
}
.order-product-container .details p {
  font-style: 15px;
  color: #1c2b35;
  margin: 0;
}
.order-product-container .details p span {
  color: #ff9900;
}
.order-product-container .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid tomato;
  color: tomato;
  margin-right: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.order-product-container .icon-container .icon {
  font-size: 20px;
}
