.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  padding: 20px;
}
.pagination button {
  background-color: #fff;
  border: 1px solid salmon;
  cursor: pointer;
}
.pagination .select {
  background-color: salmon;
  color: #fff;
}
